<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <title>小组管理</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>

  <body>
    <header>
      <h1>我的学习助手</h1>
      <ul>
        <li>{{ user.username }}</li>
        <li>{{ user.email }}</li>
        <li>{{ user.profile.name }}</li>
      </ul>
      <p><a href="{% url 'helper:pwd_change' %}">修改密码</a> <a href="{% url 'helper:logout' %}">退出登录</a></p>

      <nav>
        <ul>
          <li><a href="{% url 'helper:home' %}">我的主页</a></li>
          <li><a href="{% url 'helper:blog_homepage' %}">我的博客</a></li>
          <li><a href="{% url 'helper:hot' 1 %}">热门博客</a></li>
          <li><a href="{% url 'helper:friends_admin' %}">我的好友</a></li>
          <li><a href="{% url 'helper:schedule_home' %}">我的日程</a></li>
          <li><a href="{% url 'helper:group_admin' %}">小组任务</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <article>
        <h2>今日日程</h2>
        <p style="text-align: center"><a href="{% url 'helper:schedule_add' %}">新建日程</a></p>
        <ul>
            {% if schedules %}
                {% for s in schedules %}
                    <li>{{ s.description }} {{ s.start_time }} ~ {{ s.deadline }}</li>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="finish_id" value="{{ s.id }}">
                        {% if s.is_repeated %}
                            <input type="number" name="time_consumed" placeholder="花费时间">
                        {% endif %}
                        <button name="agree">完成</button>
                    </form>
                {% endfor %}
            {% endif %}
        </ul>
      </article>

      <aside>

      </aside>

    </main>

    <footer>
      <p>本站点遵守 MIT 协议。原始版本由 Yuzhen FENG 于 2021 年编写。</p>
    </footer>

</body>
</html>