<h1>个人主页</h1>

<ul>
    <li>{{ user.username }}</li>
    <li>{{ user.email }}</li>
    <li>{{ user.profile.name }}</li>
</ul>
<a href="{% url 'helper:blog_homepage' user.pk %}">我的博客</a>
<h2>个人日程</h2>
{% if schedules %}
    <ol>
        {% for s in schedules %}
            <li>{{ s.description }}    {{ s.start_time }}</li>
        {% endfor %}
    </ol>
{% endif %}

<h2>小组任务</h2>
{% if group_sub_assignments %}
    <ol>
        {% for a in group_sub_assignments %}
            <li>{{ a.description }}    {{ a.deadline }}</li>
        {% endfor %}
    </ol>
{% endif %}

<h2>好友列表</h2>
{% if friends %}
    <ul>
        {% for f in friends %}
            <li>{{ f.friend.username }}    {{ f.friend.profile.name }}</li>
        {% endfor %}
    </ul>
{% endif %}

<h2>热门博客</h2>

{% if blogs %}
    {% for b in blogs %}
        <h3>{{ b.title }}</h3>

        <p>{{ b.content|linebreaksbr }}</p>
    {% endfor %}
{% endif %}

<p><a href="{% url 'helper:pwd_change' user.pk %}">修改密码</a></p>
<p><a href="{% url 'helper:logout' %}">退出登录</a></p>