<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <title>小组管理</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>

  <body>
    <header>
      <h1>我的学习助手</h1>
      <ul>
        <li>{{ user.username }}</li>
        <li>{{ user.email }}</li>
        <li>{{ user.profile.name }}</li>
      </ul>
      <p><a href="{% url 'helper:pwd_change' %}">修改密码</a> <a href="{% url 'helper:logout' %}">退出登录</a></p>

      <nav>
        <ul>
          <li><a href="{% url 'helper:home' %}">我的主页</a></li>
          <li><a href="{% url 'helper:blog_homepage' %}">我的博客</a></li>
          <li><a href="{% url 'helper:hot' 1 %}">热门博客</a></li>
          <li><a href="{% url 'helper:friends_admin' %}">我的好友</a></li>
          <li><a href="{% url 'helper:schedule_home' %}">我的日程</a></li>
          <li><a href="{% url 'helper:group_admin' %}">小组任务</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <article>
        <h2>我的小组</h2>
        <ul>
            {% if groups %}
                {% for g in groups %}
                <li><a href="{% url 'helper:group_home' g.id %}">
                    {{ g.group_name }}
                </a></li>
                {% endfor %}
            {% endif %}
        </ul>
        <h2>添加小组</h2>
        <form method="post">
            {% csrf_token %}
            {{ add_form }}
            <input name="add" type="submit" value="提交">
        </form>
        <h2>搜索小组</h2>
        <p>组长学号：</p>
        <form method="post">
            {% csrf_token %}
            <label>
                <input type="text" name="leader_id">
            </label>
            <button name="search_for_leader">发起查询</button>
        </form>
        {% if leader_groups %}
            {% for g in leader_groups %}
                <p>{{ g.id }} {{ g.group_name }}</p>
            {% endfor %}
        {% endif %}
        <p>小组序号：</p>
        <form method="post">
            {% csrf_token %}
            <label>
                <input type="text" name="group_id">
            </label>
            <button name="search_for_group">添加小组</button>
        </form>
      </article>

      <aside>
        <h2>小组列表</h2>
        {% if groups %}
          <ul>
            {% for g in groups %}
              <li><a href="{% url 'helper:group_home' g.id %}">
                  {{ g.group_name }}
              </a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </aside>

    </main>

    <footer>
      <p>本站点遵守 MIT 协议。原始版本由 Yuzhen FENG 于 2021 年编写。</p>
    </footer>

</body>
</html>